header.nav-wrap
  .container
    nav.nav
      .nav-logo
        a(href="#" target="_self")
          img(src=path+"/assets/images/common/logo.svg", alt="" title="")
      .nav-main.js-menu
        ul.menu
          li.menu-item
            a.menu-link(href="#" target="_self") Giới thiệu
          li.menu-item.js-sub
            a.menu-link(href="#" target="_self") Dự án
              span.icon-down
                img(src=path+"/assets/images/common/ico_arrow.svg", alt="" title="")
            .dropdown.js-dropdown
              ul.menu
                li.menu-item
                  a.menu-link(href="#" target="_self") Giới thiệu 1
                li.menu-item
                  a.menu-link(href="#" target="_self") Dự án 1
                li.menu-item
                  a.menu-link(href="#" target="_self") Tin Tức 1
                li.menu-item
                  a.menu-link(href="#" target="_self") Tuyển dụng 1
                li.menu-item
                  a.menu-link(href="#" target="_self") Giới thiệu 1
                li.menu-item
                  a.menu-link(href="#" target="_self") Giới thiệu 1
                li.menu-item
                  a.menu-link(href="#" target="_self") Giới thiệu 1
                li.menu-item
                  a.menu-link(href="#" target="_self") Giới thiệu 1
                li.menu-item
                  a.menu-link(href="#" target="_self") Giới thiệu 1
                li.menu-item
                  a.menu-link(href="#" target="_self") Giới thiệu 1
                li.menu-item
                  a.menu-link(href="#" target="_self") Giới thiệu 1
                li.menu-item
                  a.menu-link(href="#" target="_self") Giới thiệu 1
                li.menu-item
                  a.menu-link(href="#" target="_self") Giới thiệu 1
                li.menu-item
                  a.menu-link(href="#" target="_self") Liên hệ 1
                    span.icon-down.js-children
                      img(src=path+"/assets/images/common/ico_arrow.svg", alt="" title="")
                  .dropdown.js-dropdown
                    .js-back.icon-back
                      img(src=path+"/assets/images/common/ico_arrow.svg", alt="" title="")
                    ul.menu
                      li.menu-item
                        a.menu-link(href="#" target="_self") Giới thiệu 2
                      li.menu-item
                        a.menu-link(href="#" target="_self") Dự án 2
                      li.menu-item
                        a.menu-link(href="#" target="_self") Tin Tức 2
                      li.menu-item
                        a.menu-link(href="#" target="_self") Tuyển dụng 2
                      li.menu-item
                        a.menu-link(href="#" target="_self") Liên hệ 2
                      li.menu-item
                        a.menu-link(href="#" target="_self") Tuyển dụng 1
                      li.menu-item
                        a.menu-link(href="#" target="_self") Giới thiệu 1
                      li.menu-item
                        a.menu-link(href="#" target="_self") Giới thiệu 1
                      li.menu-item
                        a.menu-link(href="#" target="_self") Giới thiệu 1
                      li.menu-item
                        a.menu-link(href="#" target="_self") Giới thiệu 1
                      li.menu-item
                        a.menu-link(href="#" target="_self") Giới thiệu 1
                      li.menu-item
                        a.menu-link(href="#" target="_self") Giới thiệu 1
                      li.menu-item
                        a.menu-link(href="#" target="_self") Giới thiệu 1
                      li.menu-item
                        a.menu-link(href="#" target="_self") Giới thiệu 1
                      li.menu-item
                        a.menu-link(href="#" target="_self") Giới thiệu 1
          li.menu-item
            a.menu-link(href="#" target="_self") Tin Tức
          li.menu-item
            a.menu-link(href="#" target="_self") Tuyển dụng
          li.menu-item
            a.menu-link(href="#" target="_self") Liên hệ
        .nav-sear
          .nav-sear-icon.js-sear
            img.is-show(src=path+"/assets/images/common/ico_search.svg", alt="" title="")
            img.is-hide(src=path+"/assets/images/common/ico_close.svg", alt="" title="")
          .nav-sear-form
            form(action='/' method='get')
              input#search.form-input(type='text' placeholder='Tìm kiếm' name='s' value='')
              button(type='submit')
                img(src=path+"/assets/images/common/ico_search.svg" alt='search' title='')
      .nav-bar.js-bar
        .menu-icon
